h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1128px;
  min-height: 370px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 0;
}
@media screen and (min-width: 664px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1128px) {
  .gallery {
    flex-basis: calc((100% - 72px) / 3);
  }
}